{% extends 'app/base.html' %}
{% block title %}Профиль @{{ user_profile.username }} - TradeHub{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-header">
        <div class="profile-avatar author-avatar">{{ user_profile.username|first|upper }}</div>
        <div class="profile-info">
            <h1 class="profile-name">{{ user_profile.profile.first_name|default:user_profile.username }}</h1>
            <span class="profile-username">@{{ user_profile.username }}</span>
            <div class="profile-stats">
                </div>
        </div>
        <div class="profile-actions">
            {% if user.is_authenticated %}
                {% if user_profile == user %}
                    <a href="{% url 'profile_settings' %}" class="btn btn-secondary">Настройки</a>
                {% else %}
                    <button id="follow-btn" class="btn {% if is_following %}btn-secondary{% else %}btn-primary{% endif %}" data-username="{{ user_profile.username }}">
                        {% if is_following %}Отписаться{% else %}Подписаться{% endif %}
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="profile-content">
        </div>
</div>
{% endblock %}